{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DatabaseSettings": {
    "ConnectionString": "Host=localhost;Port=5545;Database=debtquery;Username=postgres;Password=*Password123",
    "SeedPath": "BASE CLIENTES_DIVIDAS.xlsx"
  },
  "AllowedHosts": "*"
}
