{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DatabaseSettings": {
    "ConnectionString": "Host=localhost;Port=5545;Database=debtquery;Username=myusername;Password=mypassword123"
  },
  "AllowedHosts": "*"
}
