{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DatabaseSettings": {
    "ConnectionString": "Host=localhost;Port=5545;Database=debtquery;Username=postgres;Password=*Password123"
  },
  "CacheSettings": {
    "ConnectionString": "localhost:6385",
    "InstanceName": "DebtQuerySystem:",
    "DefaultExpirationMinutes": 20
  },
  "AllowedHosts": "*"
}
